body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Saydam beyaz arka plan */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

textarea,
input {
    width: 100%;
    padding: 10px; /* Giriş alanları boyutunu azalttık */
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgba(0, 123, 255, 0.7); /* Saydam mavi buton */
    color: white;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Butonları eşit boyutta yapar */
}

button:hover {
    background-color: rgba(0, 123, 255, 0.9);
}

.hidden {
    display: none;
}

#preview {
    margin-top: 20px;
}

#countdown {
    font-weight: bold;
    margin-top: 10px;
}


#previewMessage {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5em;
}

#previewMessage span {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
